{% extends "base.html" %}

{% block title %}

{% endblock title %}    

{% block body %}
<div class=" uk-margin-small-top">

    <div class="uk-grid"> 

        <div> 
            <img src="{{url}}/image/products/{{productData.image}}" width="400px">
        </div>

       <div>
        <p><b>{{productData.product_name}}</b></p>
        <p><b>₹ </b>{{productData.price}}</p>

        {% if productData.status == "OFF" %}
            <p>OUT OF STOCK</p>
        {% else %}  
            <P>In Stock</P>
        {% endif %}  

        <p><b> Short Description.</b> {{productData.short_description}}</p>
        <p><b>Description : </b>{{productData.description}}</p>

        <div >
            <button class="uk-button uk-button-default uk-button-small"
                 onclick="decrementQuantity()" >-</button>
            <span class="cartQuantity" max="{{productData.stock}}" >1</span>
            <button class="uk-button uk-button-default uk-button-small"
                 onclick="incrementQuantity()">+</button>
        </div>
    
        <button class="uk-button uk-button-default" id="addtocart" 
                onclick='addToCart({{productData.id}})'>
            Add To Cart</button>
        <button class="uk-button uk-button-primary" id="buynow" >Buy Now</button>
        <input type="hidden" id="productId" value="{{productData.id}}">
       </div>   
    </div>

</div>
    

{% endblock body %} 