{% set url =  constant("App\\Config::URL")  %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div class="uk-container uk-margin-small-top">
<p>{{id}}</p>
    
      <nav>
        <a href="{{url}}" class="uk-button uk-button-primary">Home</a>
        <a href="{{url}}/posts/index" class="uk-button uk-button-default">Posts</a>
        <a href="{{url}}/posts/add" class="uk-button uk-button-secondary">Add</a>

     
        <div style="float: right;">
          {% if user.id != "" %}
          <a href="{{url}}/users/logout" class="uk-button uk-button-default">Logout</a>
          {% else %}
            <a href="{{url}}/users/login" class="uk-button uk-button-default">Login</a>
            <a href="{{url}}/users/register" class="uk-button uk-button-secondary">Register</a>
          {% endif %}
        </div>
          
      </nav>

      {% block body %} {% endblock %}
    </div>
  </body>
</html>
