{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}

{% block body %}

    <div class="uk-container uk-container-small">
        <div class="uk-margin-medium-top">
          
            <h1>Login</h1>
            <form action="{{url}}/users/login" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="users[email]" id="email" class="uk-input">
                    {{errData.email}}
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="users[password]" id="password" class="uk-input">
                    {{errData.password}}
                    {{loginErr}}
                </div> 
                <input type="submit" value="Login" id="submit" class="uk-button uk-margin-small-top 
                    uk-button-primary">    
            </form>
            
        </div>
        <a href="{{url}}/users/register" class="uk-button uk-margin-small-top 
             uk-button-default"> Register</a>
    </div>
    
{% endblock body %}